body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #000000;
    background-image: url("/static/images/index_bg.jpg");
    overflow: hidden;
}

h1 {
    margin-top: 0px;
    margin-bottom: 5vh;
}

h2 {
    margin: 0px;
}

.container {
    margin-bottom: 5vh;
    height: fit-content;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    font-weight: bolder;
    transition: all 0.5s;
}
.container:hover #menu-elements {
    height: fit-content;
    margin-top: 5vh;
}

.close-button-container {
    display: flex;
    flex-direction: row-reverse;
}

#menu-elements {
    height: 0px;
    margin-top: 0vh;
    overflow: hidden;
    transition: all 0.5s;
}

#menu-elements button {
    margin: 0vh;
    padding: 1vh;
    border: none;
    cursor: pointer;
    background: transparent;
}
#menu-elements button:hover {
    font-weight: bold;
}

.menu {
    height: 30vh;
}

.y-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}

#company-info {
    display: none;
}

.content {
    padding: 5vh;
}

#company-info-content {
    padding-top: 0px;
}

#company-info button {
    margin: 0vh;
    padding: 1vh;
    border: none;
    cursor: pointer;
    background: transparent;
}

.close-button {
    width: 5vh;
    height: 5vh;
    background-image: url("/static/images/icons/cross.png");
    background-size: cover;
    cursor: pointer;
}

